
.countryGrid{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 94%;
    height: auto;
    margin: 2%;
    border: none;
    padding: 1%;
  }
  
.country{
    margin: 0%;
    padding: 2%;
    width: 20vw;
    height: 40vh;
    border-radius: 2px;
    border-width: 2px;
}


@media (max-width: 375px) {
    .countryGrid{
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .country{
        width: 92%;
        margin: 2%;
        padding: auto;
    }  
}
