.backBtn{
    margin-top: 2em;
    margin-left: 5%;
    justify-content: left;
    align-items: center;
    display: flex;
}

.detailGrid{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flagDetail{
    width: 50%;
    /* max-height: 20vh; */
    height: 70%;
    justify-content: left;
}
.flagImageDetail{
    width: 80%;
    height: 80%;
    object-fit: cover;
    overflow: hidden;
    border: 1px solid #555;
    /* background-image: url({indFlag}); */
} 

.dataDetail{
    width: 50%;
    /* max-height: 20vh; */
    height: inherit;
    justify-content: left;
}

.countryNameDetail{
    width: auto;
    margin-top: 5%;
    text-align: left;
}

h2{
    margin-block-start: 0px;
}

.countryDataDiv{
    width: 100%;
    height: 100%;
    justify-content: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* flex-direction: column;
    flex-wrap: wrap; */
}

.countryInfo{
    width: 90%;
    margin-bottom: 2%;
    text-align: left;
    font-weight: 600;
    margin-left: 1em;
}
.borderCountryGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.BorderCountryBtn{
    /* border-radius: 1px;
    border-width: 2px;
    width: 90%; */
    /* padding: auto; */
    margin: 3%
}

.borderCountryInfo{
    width: 90%;
    text-align: left;
    font-weight: 600;
    margin-left: 1em;
}

.countryInfoData{
    text-align: left;
    font-weight: 300;
}

@media (max-width: 800px) {
    .detailGrid{
        /* margin-top: 2em; */
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        justify-content: center;
        margin: auto;
    }

    .flagDetail{
        padding-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: 80%;
        justify-content: center;
    }
    
    .flagImageDetail{
        height: 90%;
        width: 100%;
        border: 1px solid #555;
    }
    
    .dataDetail{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .countryNameDetail{
        text-align: center;
        font-size: 900%;
        font-weight: 800;
        margin: 0px;
    }
}

@media (max-width: 500px) {
    .detailGrid{
        /* margin-top: 2em; */
        display: grid;
        grid-template-columns: 1fr;
        width: 95%;
        justify-content: center;
        margin: auto;
    }

    .flagDetail{
        padding-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: 80%;
        justify-content: center;
    }
    
    .flagImageDetail{
        height: 90%;
        width: 100%;
        border: 1px solid #555;
    }
    
    .dataDetail{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    .countryDataDiv{
        width: 100%;
        height: 100%;
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr;
    }
    .countryNameDetail{
        text-align: center;
        font-size: 900%;
        font-weight: 800;
        margin: 0px;
    }
    .borderCountryGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
}